body {
    padding-top: 80px;
    background-image: url(banner.png);
    background-repeat: no-repeat;
}
.navbar {
    padding: 10px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    box-sizing: border-box;
    transition: .3s;
    }
    .navbar.black {
    background-color: pink !important;
    height: 60px;
    padding: 10px 50px;
    }
    
    .navbar .logo {
    float: left;
    }
    
    .navbar .logo img {
    height: 110px;
    transition: .5s;
    margin-left: 20%;
    }
    
    .navbar .carrinho {
      float: left;
      }
      
      .navbar .carrinho img {
      height: 30px;
      transition: .5s;
      margin-left: 1000%;
      }
    
    .navbar.black .logo img {
    height: 60px;
    }
    
    .navbar ul {
    list-style: none;
    width: auto;
    margin: 0 auto;
    }
    
    .navbar ul li {
    list-style: none;
    }
    
    .navbar ul li a {
    line-height: 20px;
    color: pink;
    padding: 5px 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    margin: 0 15px;
    }
    
    .navbar.black ul li a {
    color: #fff;
    margin: 0 25px;
    }
    
    .navbar ul li a.active, .navbar ul li a:hover {
    color: #fff;
    background: rgb(245, 31, 149);
    }

  .banner1 {
    height: calc(100vh - 82px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.texto_banner {
    width: 450px;
    color: white;
    /* background-color: antiquewhite; */
}
.img_banner img{
 width: 500px;
}
.titulo_texto{
    font-family: var(--font1);
    font-size: 30px;
   text-align: center;
    /* background-color: #188D73; */
}
.conteudo_texto{
    margin-top: 20px;
    font-family: var(--font2);
    font-size: 18px;
    text-align: center;
    /* background-color: blueviolet; */
}
.banner2{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.banner-conteudo2{
    /* background-color: #188D73; */
    width: 1200px;
    /* height: 600px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-conteudo2 h2{
    font-family: var(--font1);
    font-size: 20px;
    text-align: center;
    /* background-color: wheat; */
}
.banner-conteudo2 p{
    font-family: var(--font2);
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
.banner-conteudo2 img{
    width: 200px;
    justify-content: center;
    margin-top: 30px;

}
.conteudo_card{
    /* background-color: blue; */
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_valores{
    margin-bottom: 18px;
}
/* Footer */

.copy {
    width: 100%;
    padding: 20px 0;
    background-color: pink;
    }
    
    .copy p{
      text-align: center;
      color:#000000;
      font-size: 14px;
    font-family: Georgia, "Times New Roman", serif;
    }
    
    *, *:before, *:after {
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      box-sizing: border-box;
    }
    
    .container {
        width: 960px;
        margin: 0 auto;
        padding: 0px;
        position: relative;
    }
    
    .container:after, .container:before {
        content: " ";
        display: table;
    }
    
    .container:after {
        clear: both;
    }
    
    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .grid-1 	{width: 40px;}
    .grid-2 	{width: 100px;}
    .grid-3 	{width: 160px;}
    .grid-4 	{width: 220px;}
    .grid-5 	{width: 280px;}
    .grid-6 	{width: 340px;}
    .grid-7 	{width: 400px;}
    .grid-8 	{width: 460px;}
    .grid-9 	{width: 520px;}
    .grid-10 	{width: 580px;}
    .grid-11 	{width: 640px;}
    .grid-12 	{width: 700px;}
    .grid-13 	{width: 760px;}
    .grid-14 	{width: 820px;}
    .grid-15 	{width: 880px;}
    .grid-16 	{width: 940px;}
    .grid-1-3	{width: 300px;}
    
    .container {
        width: 768px;
    }
    
    .grid-1		{width: 28px;}







